/* Design System: Color and Font */
:root {
    /* Base Color for typography */
    --clr-base-dk: #43363Eff;
    --clr-base-lt: #827D89ff;
    --clr-base-ltr: #B0B3BEff;

    /* Accent Color */
    --clr-primary: #222B4Cff;
    --clr-secondary: #C51B12ff;

    /* Font */
    --ff-head: "Major Mono Display", monospace;
    --ff-body: "Poppins", serif;
    --fw-head: 400;
    --fw-body: 400;
    --fs-head: normal;
    --fs-body: normal;
}

body {
    margin: 0 0;
    font-family: var(--ff-body);
}


nav {
    position: fixed;
}

ul {
    margin: 0 0;
}

div#home {
    background-image: url("../images/bg-home.png");
    height: 100vh;
    display: flex;
    padding-left: 200px;
    flex-direction: column;
    justify-content: center;
}

h1 {
    margin: 0;
    font-family: var(--ff-head);
    font-size: xxx-large;
}