/* Design System: Color and Font */
:root {
    /* Base Color for typography */
    --clr-base-blk: #000000ff;
    --clr-base-dk: #43363Eff;
    --clr-base-lt: #827D89ff;
    --clr-base-ltr: #B0B3BEff;
    --clr-base-wht: #FFFFFFff;

    /* Accent Color */
    --clr-primary: #222B4Cff;
    --clr-secondary: #83120Cff;

    /* Font */
    --ff-head: "Major Mono Display", monospace;
    --ff-body: "Poppins", serif;
    --fw-head: 400;
    --fw-body: 400;
    --fs-head: normal;
    --fs-body: normal;
}

body {
    margin: 0;
    font-family: var(--ff-body);
}

h1 {
    margin: 0;
    font-family: var(--ff-head);
    font-size: xxx-large;
}

.navbar {
    position: fixed;
    width: 100%;
}

.navbar__links {
    margin: 24px;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
}

.navbar__link {
    text-decoration: none;
    color: var(--clr-base-lt);
}

.navbar__link:hover {
    color: var(--clr-base-dk);
}

.navbar__link--focus {
    color: var(--clr-base-dk);
    font-weight: 600;
    font-size: large;
}

.container {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.home {
    background-image: url("../images/bg-home.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    padding-left: 200px;
    flex-direction: column;
    justify-content: center;
}

.home__title {
    font-size: 60px;
}

.home__text {
    margin: 4px 0 12px 0;
    text-align: right;
    padding-right: 16px;
}

.home__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    color: var(--clr-base-ltr);
    text-decoration: none;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: var(--clr-base-dk);
    box-shadow: 2px 4px 10px var(--clr-base-lt);
    height: fit-content;
}

.button:hover{
    transform: scale(1.1);
    color: var(--clr-base-dk);
    background-color: var(--clr-base-ltr);
}

.button__text {
    margin: 0;
}

.about {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: var(--clr-base-blk);
    color: var(--clr-base-ltr);
    text-align: center;
}

.about__text {
    padding: 0 18%;
}

.projects {
    background-color: var(--clr-secondary);
    color: var(--clr-base-wht);
    text-align: center;
}

.projects__container {
    width: 100%;
    display: flex;
    padding: 15% 0;
}

.projects__cards {
    display: flex;
    gap: 32px;
    padding: 0 10%;
}

.card {
    color: var(--clr-secondary);
    background-color: var(--clr-base-wht);
    padding: 12px 32px 48px 32px;
    margin-top: 32px;
    border-radius: 10px;
    box-shadow: inset 4px 4px 4px var(--clr-base-dk);
}

.card__name {
    font-weight: 600;
}

.card__image {
    width: 100%;
    border-radius: 32px;
    box-shadow: 2px 2px 16px black;
}

.card__link {
    width: fit-content;
    margin: 0 auto;
}